@import './scss/bootstrap';
@import "./scss/auth";
@import '~react-toastify/dist/ReactToastify.css';

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}