// $primary:#118499; we already override primary color in "_bootstrap.scss" file so no need to override it again.
// $bgColorAuth: $primary;

.auth {
    // background-color: $bgColorAuth;
    background-color: $primary;
    min-height: 100vh;
    // padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .card {
        // position: relative;
        left: 15%;
        width: 70%;
        height: 100%;
        border-radius: 3%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    h2 {
        font-size: 30px bold;
        color: $primary;
        text-align: center;
    }

    .input-group {
        position: relative;
        margin: 30px 0;

        input {
            // width: 320px;
            width: 100%;
            height: 40px;
            font-size: 16px;
            color: #333;
            padding: 0 10px;
            // background: transparent;
            border: 1px solid #333;
            outline: none;
            border-radius: 5px;
            // transition: .5s;

            &:focus,
            &:valid {
                border: 1px solid $primary;
            }

            &:focus~label,
            &:valid~label {
                top: 0;
                font-size: 12px;
                background: #fff;
                color: $primary;
            }
        }

        label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #333;
            padding: 0 5px;
            pointer-events: none;
            transition: .5s;
        }
    }

    .remember {
        margin: -15px 0 15px;

        label {
            color: #333;
            font-size: 14px;

            input {
                accent-color: $primary;
            }
        }
    }

    .Account-link {
        font-size: 14px;
        text-align: center;
        margin: 15px 0;

        :link {
            color: $primary;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}